<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="column-layout">
          <div class="search-bar">
            <div class="inputWithIcon">
             <input type="text" class="search empty" placeholder="Search" #search (keyup)="serachText()"/>
             <span class="icon"><i class="fas fa-search" aria-hidden="true"></i></span>
              </div>
          </div>
          <div class="post-bar">
            <div class="postHeading">
              <span class="icon"><i class="far fa-smile-beam"></i></span>
                <div class="label">What's Happening ? </div>
            </div>
            <div class="postText">
              <input type="text" class="textWrite" placeholder="Write something..." #nameInput  />
              <!-- <span class="placeholder">Write something..</span> -->
            </div>
            <div class="postButtonContainer">
              <button  class="button postButton" (click)="addPost()" (keyup.enter)="addPost()">Post</button>
            </div>
          </div>
        <div class="post-bar">
            <div class="content" *ngFor="let post of posts">
                <div class="postHeading">
                  <span class="icon"><i class="far fa-smile-beam"></i></span>
                  <div class="label"> {{post.email}}</div>
                </div>
                <hr>
                <div class="postText">
                  <label  class="Label" >
                    {{post.postData}}
                  </label>
                </div>
                <div class="postButtonContainer">
                  <button  class="button postButton" ><span class="icon"><i class="far fa-hand-point-right"></i></span>{{post.like}}</button>
                  <button  class="button postButton" ><span class="icon"><i class="fas fa-comment"></i></span>5</button>
                </div>
            </div>
          </div>
    </div>
   </div>

<router-outlet></router-outlet>
